section.about
    .container
        .title.title--with-bottom-line
            h2.title.title__header О компании
            .title__text Компания "ДатаПринт " специализируется на поставках высокотехнологичного оборудования от ведущих мировых производителей

        ul.about__list
            li.about__item
                //.icon.icon-like
                h3.about__header Рибон
                p.about__description test

            li.about__item
                //.icon.icon-book
                h3.about__header  pages Creation
                p.about__description test

            li.about__item
                //.icon.icon-message
                h3.about__header Ads management
                p.about__description test


