section.about
  .container
    .title.title--with-bottom-line
      h2.title.title__header О компании
      .title__text Наши основные направления

    ul.about__list
      li.about__item
        .icon.icon-like
        h3.about__header Поставка оборудрования
        p.about__description термотрансверные, лазерные принтеры, сканеры штрих-кода, аппликаторы

      li.about__item
        .icon.icon-book
        h3.about__header Поставка расходных материалов
        p.about__description термотрансферные и кодировочные ленты (красящие ленты для печати),самоклеющиеся этикетки

      li.about__item
        .icon.icon-message
        h3.about__header Ремонт принтеров
        p.about__description восстановление работы термотрансфрных и лазерных принтеров


