section.about
    .container.title.title--with-bottom-line
        h2.title.title__header__about О компании
        .title__text__about Компания ДатаПринт на рынке с 2011 года
    ul.about__list
        li.about__item
            .icon.icon-like
            h3.about__header Наша команда состоит из профессионалов
            p.about__description.
                        Многолетний опыт сотрудников (с 2001 года в области систем автоматической идентификации
                        с использованием технологий штрихового кодирования) позволяет подобрать оптимальные
                        решения по маркировочному оборудованию и расходным материалам.

        li.about__item
            .icon.icon-book
            h3.about__header  Наши условия работы Вам  обязательно подойдут
            p.about__description.
                           Мы можем предложить Вам индивидуальный подход в работе, чёткое соблюдение сроков и
                           гибкость в вопросах оплаты.

        li.about__item
            .icon.icon-message
            h3.about__header Предоставляем   широкий выбор услуг
            p.about__description.
                Мы  предлагаем комплексную техническую поддержку, гарайтийное обслуживание и ремонт принтеров штрихового кода.
                Кроме того наши специалисты помогут  разработать для Вас макеты этикетки с текстовой информацией и штриховым кодом,
                отпечатать готовые этикетки и  текстильные швейные ярлыки.
