section.about
    .container.title.title--with-bottom-line
        h2.title.title__header__about О компании
        .title__text__about Компания ДатаПринт на рынке с 2011 года
    ul.about__list
        li.about__item
            .icon.icon-like
            h3.about__header Наша команда состоит из профессионалов
            p.about__description.
                        Многолетний опыт сотрудников (с 2001 года в области систем автоматической идентификации
                        с использованием технологий штрихового кодирования) позволяет подобрать оптимальные решения по маркировочному оборудованию и расходным материалам.

        li.about__item
            .icon.icon-book
            h3.about__header  Наши условия работы Вам  обязательно подойдут
            p.about__description.
                           Мы можем предложить Вам индивидуальный подход в работе, чёкое соблюдение сроков и
                           гибкость в вопросах оплаты.

        li.about__item
            .icon.icon-message
            h3.about__header У нас всегда широкий выбор продукции и услуг
            p.about__description.
             Наша команда предоставляет не только разнообразную качественную продукцию,
             но оказывает техническую поддержку, гарайтийное обслуживание и ремонт оборудования.
