section.approach
  .container
    .title.title--with-bottom-line
      h2.title__header Наши продукты
      .title__text  Мы подберем для Вас лучшее решение

    ul.approach__list
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-1.jpg" alt="picture")
          .approach__step 
        .approach__text
          .approach__title Современное промышленное оборудование
          p.approach__description.
            У нас Вы можете приобрести маркировочное оборудование для печати и сканирования штрих кодов. Широкий выбор оборудования,
            от начальных моделей принтеров для выполнения простых задач до принтеров промышленного класса
            позволяет получить отличное качество печати и высокую производительность в работе.
            Мы поставляем оборудование ведущих мировых производителей:
            Термо- и термотрансферные принтеры Zebra Technologies Corporation (США), Citizen (Япония), TSC TTP (Тайвань),
            сканеры штриховых кодов Datalogic ADC (Италия), Motorola EMb (США),
            терминалы сбора данных - Datalogic ADC (Италия), Motorola EMb (США).
          a.approach__details_link(href="#")  Подробнее
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-2.jpg" alt="picture")
          .approach__step 
        .approach__text
          .approach__title Расходные материалы
          p.approach__description.
            Компании Датаринт поставляет различные  расходные материалы:
            этикетку, термоэтиктеку, этикетку полипропилен,
            термотрансферную красящую ленту, ленту-фольгу для горячего тиснения, ленту
            для кабельных принтеро, а также текстильные этикетки и ярлыки (нейлон, сатин, полиэстер)
          a.approach__details_link(href="#")  Подробнее
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-3.jpg" alt="picture")
          .approach__step 
        .approach__text
          .approach__title Ремонтр оборудования
          p.approach__description.
            Компания ДатаПринт прдоставляет техническую поддержку и гарантийное обслуживание оборудования, замены запчастей.
            В случае неисправности и поломки Вашего оборудования Вы можете смело оращаться к нам.

     