section.approach
  .container
    .title.title--with-bottom-line
      h2.title__header Наши продукты
      .title__text Мы занимаемся несколькоми направлениями

    ul.approach__list
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-1.jpg" alt="picture")
          .approach__step 
        .approach__text
          .approach__title Современное промышленное оборудование
          p.approach__description.
            Мы поставляем современные промышленные термотрансферные принтеры
            (для нанесения маркировки на продукт: дата и время изготовления,
            срок годности, номер партии, штрих-код, логотип, серийный номер):
            САВ, Сitizen, Zebra, лазерные и CCD (ПЗС) сканеры штрих-кода Motorola и DataLogic,
            аппликаторы, принтеры-аппликаторы - для автоматического нанесения самоклеящихся этикеток
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-2.jpg" alt="picture")
          .approach__step 
        .approach__text
          .approach__title Расходные материалы
          p.approach__description.
            Компания "ДатаПринт " предлагает высококачественные расходные материалы:
              термотрансферные и кодировочные ленты (красящие ленты для печати)
              от ведущих европейских производителей, самоклеющиеся этикетки .
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-3.jpg" alt="picture")
          .approach__step 
        .approach__text
          .approach__title Ремонтр принтеров
          p.approach__description.
            Мы предлагаем ремонт оборудования. Наша компания специализируется на том и на том

     