.contacts
  a.contact(href="tel:+74732210949")
    i.fa.fa-phone.contact__icon(aria-hidden="true")
    span.contact__text +7 473 221 09 49

  a.contact(href="mailto:info@dataprint.vrn.ru")
    i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
    span.contact__text info@dataprint.vrn.ru
