- var linkItems = ['facebook-official', 'twitter', 'google-plus', 'linkedin']
- var linkUrls = ['facebook.com', 'twitter.com', 'google.com', 'linkedin.com']
footer.footer
  .footer__bottom
    .footer__copy ООО ДатаПринт