section.hero
  .hero__about ДатаПринт
  h1.hero__title это только новые технологии для качественной маркировки любой продукции
  a.button.button--yellow.button--text-uppercase(href="mailto:info@dataprint.vrn.ru") Связаться с нами
  // a.button.button--yellow.button--text-uppercase(href="images/") Связаться с нами