section.hero
  .hero__about Мы предоставляем  решения
  h1.hero__title в области упаковки, промышленной маркировки и штрихового кодирования продукции
  a.button.button--yellow.button--text-uppercase(href="mailto:info@dataprintv.ru") Связаться с нами