section.work
  .container
    .title.title--with-bottom-line
      h2.title.title__header Этикетка
      .title__text Мы предлагаем этикетку разных размеров

    ul.work__list
      li.work__item.work__item--name
        .work__name Этикетка 1
        .work__description Этикетка 1 информация

      li.work__item: img.work__picture(src="images/work-1.jpg" alt="picture")

      li.work__item.work__item--name
        .work__name Этикетка 2
        .work__description Этикетка 2 информация

      li.work__item: img.work__picture(src="images/work-2.jpg" alt="picture")

      li.work__item: img.work__picture(src="images/work-3.jpg" alt="picture")

      li.work__item.work__item--name
        .work__name Этикетка 3
        .work__description Этикетка 3 информация	

      li.work__item: img.work__picture(src="images/work-4.jpg" alt="picture")

      li.work__item.work__item--name
        .work__name  Этикетка 4
        .work__description Этикетка 4 информация