// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$book-name: 'book';
$book-x: 0px;
$book-y: 150px;
$book-offset-x: 0px;
$book-offset-y: -150px;
$book-width: 149px;
$book-height: 116px;
$book-total-width: 291px;
$book-total-height: 266px;
$book-image: '../images/sprite.png';
$book: (0px, 150px, 0px, -150px, 149px, 116px, 291px, 266px, '../images/sprite.png', 'book', );
$like-name: 'like';
$like-x: 147px;
$like-y: 0px;
$like-offset-x: -147px;
$like-offset-y: 0px;
$like-width: 144px;
$like-height: 146px;
$like-total-width: 291px;
$like-total-height: 266px;
$like-image: '../images/sprite.png';
$like: (147px, 0px, -147px, 0px, 144px, 146px, 291px, 266px, '../images/sprite.png', 'like', );
$message-name: 'message';
$message-x: 0px;
$message-y: 0px;
$message-offset-x: 0px;
$message-offset-y: 0px;
$message-width: 147px;
$message-height: 150px;
$message-total-width: 291px;
$message-total-height: 266px;
$message-image: '../images/sprite.png';
$message: (0px, 0px, 0px, 0px, 147px, 150px, 291px, 266px, '../images/sprite.png', 'message', );
$work-item-name: 'work-item';
$work-item-x: 149px;
$work-item-y: 150px;
$work-item-offset-x: -149px;
$work-item-offset-y: -150px;
$work-item-width: 40px;
$work-item-height: 46px;
$work-item-total-width: 291px;
$work-item-total-height: 266px;
$work-item-image: '../images/sprite.png';
$work-item: (149px, 150px, -149px, -150px, 40px, 46px, 291px, 266px, '../images/sprite.png', 'work-item', );
$spritesheet-width: 291px;
$spritesheet-height: 266px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($book, $like, $message, $work-item, );
$spritesheet: (291px, 266px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
